# ====================================
# Arquivos de Compilação e Temporários
# ====================================
*.o
*.cmake

# ====================================
# Arquivos Específicos
# ====================================
CMakeCache.txt
Makefile

# ====================================
# Diretórios Específicos
# ====================================
CMakeFiles/
build/
